.cards {
   
    list-style: none;
    margin: 0;
    padding: 0;
    width: 18rem ;
}
.boxx{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
}

